* {
  box-sizing: border-box;
  margin: 0;
}
.site-header {
  background-color: #612058;
  padding: 2px 0;
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.site-identity img {
  max-height: 110px;
  float: left;
  margin: 0 10px 0 111px;
}

.bckgrnd {
  content: "";
  background: linear-gradient(transparent, white), url("poza profil MDVeu.jpg");
  background-size: cover;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
}
@media (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
.prenume {
  color: #612058;
  font-size: 140px;
  text-align: left;
  margin: auto;
  position: relative;
  font-family: Helvetica, sans-serif;
  width: 80%;
}

.nume {
  color: #612058;
  font-size: 70px;
  text-align: left;
  margin: auto;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  width: 80%;
}

.perioada {
  color: #612058;
  font-size: 40px;
  text-align: right;
  margin: auto;
  position: relative;
  font-family: Helvetica, sans-serif;
  width: 80%;
}

.profile {
  border-radius: 10px;
  max-height: 400px;
  position: relative;
}

.text {
  color: #612058;
  font-size: 20px;
  text-align: center;
  margin: auto;
  border-color: #612058;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  position: relative;
  width: 80%;
}

.site-footer {
  padding: 40px 0;
  background-color: #612058;
}
.site-footer .item.social > a {
  font-size: 30px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: flex;
  text-align: center;
  margin: auto;
  color: #fefefe;
  opacity: 0.75;
}

.site-footer .copyright {
  color: #fefefe;
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

/* Footer */
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .prenume {
    width: 80%;
    font-size: 50px;
    text-align: left;
    margin: auto;
    position: relative;
    color: #612058;
    font-family: Helvetica, sans-serif;
  }
  .nume {
    font-size: 30px;
    color: #612058;
    text-align: left;
    margin: auto;
    position: relative;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
  }
  .perioada {
    color: #612058;
    font-size: 20px;
    text-align: right;
    margin: auto;
    position: relative;
    font-family: Helvetica, sans-serif;
  }
  .profile {
    border-radius: 10px;
    margin: auto;
    max-height: 250px;
    position: relative;
    width: 250px;
  }

  .text {
    color: #612058;
    font-size: 10px;
    text-align: center;
    margin: auto;
    border-color: #612058;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    position: relative;
  }
  [class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .nume {
    font-size: 40px;
  }
  .prenume {
    font-size: 70px;
  }
  .profile {
    width: 80%;
  }
  .text {
    width: 95%;
  }
}
